In [1]:
import numpy as np
import pandas as pd
import pandasql as ps

In [2]:
data_raw = pd.read_csv("/n/holyscratch01/cga/jchorapalli/input_data/infogroup/2019_Business_Academic_QCQ.txt.utf8.csv", dtype={'FIPS Code':'str','Census Tract':'str','Census Block':'str'}, error_bad_lines= False, low_memory= False)

b'Skipping line 1923550: expected 53 fields, saw 105\nSkipping line 3275792: expected 53 fields, saw 105\nSkipping line 3619587: expected 53 fields, saw 105\nSkipping line 4033499: expected 53 fields, saw 105\nSkipping line 4635226: expected 53 fields, saw 105\nSkipping line 4885951: expected 53 fields, saw 105\nSkipping line 5606931: expected 53 fields, saw 105\nSkipping line 5686467: expected 53 fields, saw 104\nSkipping line 7367002: expected 53 fields, saw 54\nSkipping line 7795413: expected 53 fields, saw 54\nSkipping line 7927790: expected 53 fields, saw 105\nSkipping line 8075545: expected 53 fields, saw 105\nSkipping line 8349102: expected 53 fields, saw 105\nSkipping line 8621508: expected 53 fields, saw 105\nSkipping line 8889033: expected 53 fields, saw 105\nSkipping line 8953116: expected 53 fields, saw 105\nSkipping line 9951953: expected 53 fields, saw 105\nSkipping line 10810564: expected 53 fields, saw 105\nSkipping line 10831636: expected 53 fields, saw 105\nSkipping line 11541737: expected 53 fields, saw 105\nSkipping line 11585985: expected 53 fields, saw 105\nSkipping line 11740015: expected 53 fields, saw 105\nSkipping line 12081991: expected 53 fields, saw 105\nSkipping line 14404391: expected 53 fields, saw 105\nSkipping line 14839445: expected 53 fields, saw 105\nSkipping line 14976714: expected 53 fields, saw 54\nSkipping line 15053816: expected 53 fields, saw 105\nSkipping line 15374000: expected 53 fields, saw 105\n'

In [3]:
data_raw.shape

(15496701, 53)

In [4]:
data=data_raw.dropna(subset=["FIPS Code","Census Tract", "Census Block"])

In [5]:
data=data.reset_index(drop = True)

In [6]:
data["UBI"] =data["FIPS Code"] + data["Census Tract"]+ data["Census Block"]

In [7]:
data.shape

(15490804, 54)

In [8]:
data.columns

Index(['Company', 'Address Line 1', 'City', 'State', 'ZipCode', 'Zip4',
       'County Code', 'Area Code', 'IDCode', 'Location Employee Size Code',
       'Location Sales Volume Code', 'Primary SIC Code', 'SIC6_Descriptions',
       'Primary NAICS Code', 'NAICS8 Descriptions', 'SIC Code',
       'SIC6_Descriptions (SIC)', 'SIC Code 1', 'SIC6_Descriptions (SIC1)',
       'SIC Code 2', 'SIC6_Descriptions(SIC2)', 'SIC Code 3',
       'SIC6_Descriptions(SIC3)', 'SIC Code 4', 'SIC6_Descriptions(SIC4)',
       'Archive Version Year', 'Yellow Page Code',
       'Employee Size (5) - Location', 'Sales Volume (9) - Location',
       'Business Status Code', 'Industry Specific First Byte',
       'Year Established', 'Office Size Code', 'Company Holding Status', 'ABI',
       'Subsidiary Number', 'Parent Number', 'Parent Actual Employee Size',
       'Parent Actual Sales Volume', 'Parent Employee Size Code',
       'Parent Sales Volume Code', 'Site Number', 'Address Type Indicator',
       'Population Code', 'Census Tract', 'Census Block', 'Latitude',
       'Longitude', 'Match Code', 'CBSA Code', 'CBSA Level', 'CSA Code',
       'FIPS Code', 'UBI'],
      dtype='object')

In [9]:
data[["FIPS Code","Census Tract", "Census Block","UBI"]].head

<bound method NDFrame.head of          FIPS Code Census Tract Census Block           UBI
0            72001       956700            1  720019567001
1            72001       071700            1  720010717001
2            72001       071700            1  720010717001
3            72001       956700            2  720019567002
4            72001       071700            1  720010717001
...            ...          ...          ...           ...
15490799     02130       000100            1  021300001001
15490800     02130       000100            1  021300001001
15490801     02130       000100            1  021300001001
15490802     02130       000100            1  021300001001
15490803     02130       000100            1  021300001001

[15490804 rows x 4 columns]>

In [10]:
query2=data.groupby(['Location Sales Volume Code', 'UBI']).size().reset_index(name='counts')
query2.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2019/2019_Count_Business_Location_Sales_Volume_Code.csv")

In [11]:
query3=data.groupby(["Location Employee Size Code","UBI"]).size().reset_index(name='counts')
query3.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2019/2019_Count_Business_Location_Employee_Size_Code.csv")

In [12]:
query4=data.groupby(["Business Status Code","UBI"]).size().reset_index(name='counts')
query4.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2019/2019_Count_Business_Business_Status_Code.csv")

In [17]:
data_6_check=data[data["Employee Size (5) - Location"].str.contains('[ "A-Za-z]', na=False)]
data_6_check["Employee Size (5) - Location"]

1624741      2"
2288587      7"
2671449      2"
4308327     16"
4397618      2"
6564850      3"
6716149      6"
6971052      7"
8260893      9"
9766315     13"
12381057     2"
13298493     2"
13436582     6"
Name: Employee Size (5) - Location, dtype: object

In [18]:
data_6= data[["Employee Size (5) - Location"]].replace({'2"':'2','3"':'3','7"':'7','16"':'16','3"':'3','6"':'6','9"':'9','13"':'13'}).astype(float)
query6= data_6.describe(percentiles=[.1,.9])
query6.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2019/2019_Statistics_Employee_Size_Location.csv")

In [22]:
data_7_check=data[data["Sales Volume (9) - Location"].str.contains('[ "A-Za-z]', na=False)]
data_7_check["Sales Volume (9) - Location"].index

Int64Index([  589154,  1844471,  3410492,  4083786,  4292671,  5909724,
             5969048,  6531686,  6738242,  6998970,  7012524,  7264421,
             7607254,  8510487,  9904442, 11306678, 11412543, 11452111,
            13757759],
           dtype='int64')

In [24]:
data_c = data[data["UBI"].str.contains('[ "A-Za-z]',na=False)]
data_c["UBI"].index

Int64Index([   85821,  1080043,  1569746,  1964200,  1977269,  2033388,
             2262748,  2456221,  2681771,  2818096,  3016046,  3222013,
             3484934,  3561378,  3649877,  3663297,  3726144,  3760936,
             3792752,  3870864,  4108420,  4420552,  4451562,  4722286,
             5895897,  6048132,  6158373,  6771070,  6791340,  6811209,
             6934885,  6937633,  7152763,  7163497,  7236523,  7931493,
             8219355,  8227972,  8260465,  8301613,  8442900,  8500201,
             8862141,  8936304,  8981888,  9214230,  9282037,  9308168,
             9377162,  9440910,  9718661,  9808654, 10333916, 10449465,
            10474145, 10947969, 11375951, 11446949, 11462389, 11774121,
            12941047, 12946820, 13605832, 13712373, 13803627, 13806966,
            13969328, 14498243, 14632191, 14936832],
           dtype='int64')

In [25]:
data_7=data.drop([85821,  1080043,  1569746,  1964200,  1977269,  2033388,
             2262748,  2456221,  2681771,  2818096,  3016046,  3222013,
             3484934,  3561378,  3649877,  3663297,  3726144,  3760936,
             3792752,  3870864,  4108420,  4420552,  4451562,  4722286,
             5895897,  6048132,  6158373,  6771070,  6791340,  6811209,
             6934885,  6937633,  7152763,  7163497,  7236523,  7931493,
             8219355,  8227972,  8260465,  8301613,  8442900,  8500201,
             8862141,  8936304,  8981888,  9214230,  9282037,  9308168,
             9377162,  9440910,  9718661,  9808654, 10333916, 10449465,
            10474145, 10947969, 11375951, 11446949, 11462389, 11774121,
            12941047, 12946820, 13605832, 13712373, 13803627, 13806966,
            13969328, 14498243, 14632191, 14936832, 589154,  1844471,  3410492,  4083786,  4292671,  5909724,
             5969048,  6531686,  6738242,  6998970,  7012524,  7264421,
             7607254,  8510487,  9904442, 11306678, 11412543, 11452111,
            13757759])
query_7=data_7["Sales Volume (9) - Location"].str.replace(" ","").astype(float)
query_7= query_7.describe(percentiles=[.1,.9])
query_7.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2019/2019_Statistics_Sales_Volume_Location.csv")

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:18: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

In [13]:
query8=data.groupby(["IDCode","UBI"]).size().reset_index(name='counts')
query8.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2019/2019_Count_Business_IDCode.csv")

In [14]:
query9=data.groupby(["Primary NAICS Code","UBI"]).size().reset_index(name='counts')
query9.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2019/2019_Count_Business_Primary_NAICS_Code.csv")

In [15]:
query10=data.groupby(["Primary SIC Code","UBI"]).size().reset_index(name='counts')
query10.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2019/2019_Count_Business_Primary_SIC_Code.csv")

In [7]:
data_11=data.drop([85821,  1080043,  1569746,  1964200,  1977269,  2033388,
             2262748,  2456221,  2681771,  2818096,  3016046,  3222013,
             3484934,  3561378,  3649877,  3663297,  3726144,  3760936,
             3792752,  3870864,  4108420,  4420552,  4451562,  4722286,
             5895897,  6048132,  6158373,  6771070,  6791340,  6811209,
             6934885,  6937633,  7152763,  7163497,  7236523,  7931493,
             8219355,  8227972,  8260465,  8301613,  8442900,  8500201,
             8862141,  8936304,  8981888,  9214230,  9282037,  9308168,
             9377162,  9440910,  9718661,  9808654, 10333916, 10449465,
            10474145, 10947969, 11375951, 11446949, 11462389, 11774121,
            12941047, 12946820, 13605832, 13712373, 13803627, 13806966,
            13969328, 14498243, 14632191, 14936832, 589154,  1844471,  3410492,  4083786,  4292671,  5909724,
             5969048,  6531686,  6738242,  6998970,  7012524,  7264421,
             7607254,  8510487,  9904442, 11306678, 11412543, 11452111,
            13757759])
query_11 = data_11[["Sales Volume (9) - Location", "UBI"]].astype({"Sales Volume (9) - Location":float})
query_11= query_11.groupby(["UBI"]).describe(percentiles=[.1,.9])
query_11.columns = ["COUNT","MEAN","STD","MIN","10%","50%","90%","MAX"]
query_11.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2019/2019_Statistics_Sales_Volume_Location_Per_UBI.csv")

In [16]:
query12=data.groupby(["Parent Number","UBI"]).size().reset_index(name='counts')
query12.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2019/2019_Count_Business_Parent_Number.csv")