In [1]:
import numpy as np
import pandas as pd
import pandasql as ps

In [2]:
data_raw = pd.read_csv("/n/holyscratch01/cga/jchorapalli/input_data/infogroup/2002_Business_Academic_QCQ.txt", dtype={'FIPS Code':'str','Census Tract':'str','Census Block':'str'}, error_bad_lines= False, low_memory= False)

In [3]:
data_raw.shape

(12848949, 53)

In [4]:
data=data_raw.dropna(subset=["FIPS Code","Census Tract", "Census Block"])

In [5]:
data=data.reset_index(drop = True)

In [6]:
data["UBI"] =data["FIPS Code"] + data["Census Tract"]+ data["Census Block"]

In [7]:
data.shape

(12323227, 54)

In [8]:
data.columns

Index(['Company', 'Address Line 1', 'City', 'State', 'ZipCode', 'Zip4',
       'County Code', 'Area Code', 'IDCode', 'Location Employee Size Code',
       'Location Sales Volume Code', 'Primary SIC Code', 'SIC6_Descriptions',
       'Primary NAICS Code', 'NAICS8 Descriptions', 'SIC Code',
       'SIC6_Descriptions (SIC)', 'SIC Code 1', 'SIC6_Descriptions (SIC1)',
       'SIC Code 2', 'SIC6_Descriptions(SIC2)', 'SIC Code 3',
       'SIC6_Descriptions(SIC3)', 'SIC Code 4', 'SIC6_Descriptions(SIC4)',
       'Archive Version Year', 'Yellow Page Code',
       'Employee Size (5) - Location', 'Sales Volume (9) - Location',
       'Business Status Code', 'Industry Specific First Byte',
       'Year Established', 'Office Size Code', 'Company Holding Status', 'ABI',
       'Subsidiary Number', 'Parent Number', 'Parent Actual Employee Size',
       'Parent Actual Sales Volume', 'Parent Employee Size Code',
       'Parent Sales Volume Code', 'Site Number', 'Address Type Indicator',
       'Population Code', 'Census Tract', 'Census Block', 'Latitude',
       'Longitude', 'Match Code', 'CBSA Code', 'CBSA Level', 'CSA Code',
       'FIPS Code', 'UBI'],
      dtype='object')

In [11]:
data[["FIPS Code","Census Tract", "Census Block","UBI"]].head

<bound method NDFrame.head of          FIPS Code Census Tract Census Block           UBI
0            25013       813207            1  250138132071
1            25013       813209            1  250138132091
2            25013       813209            3  250138132093
3            25013       813208            2  250138132082
4            25013       813205            2  250138132052
...            ...          ...          ...           ...
12323222     02130       000000            0  021300000000
12323223     02130       000000            0  021300000000
12323224     02130       000000            0  021300000000
12323225     02130       000000            0  021300000000
12323226     02130       000000            0  021300000000

[12323227 rows x 4 columns]>

In [12]:
query2=data.groupby(['Location Sales Volume Code', 'UBI']).size().reset_index(name='counts')
query2.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2002/2002_Count_Business_Location_Sales_Volume_Code.csv")

In [13]:
query3=data.groupby(["Location Employee Size Code","UBI"]).size().reset_index(name='counts')
query3.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2002/2002_Count_Business_Location_Employee_Size_Code.csv")

In [14]:
query4=data.groupby(["Business Status Code","UBI"]).size().reset_index(name='counts')
query4.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2002/2002_Count_Business_Business_Status_Code.csv")

In [15]:
query6=data[["Employee Size (5) - Location"]].astype(float).describe(percentiles=[.1,.9])
query6.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2002/2002_Statistics_Employee_Size_Location.csv")

In [16]:
query7=data[["Sales Volume (9) - Location"]].astype(float).describe(percentiles=[.1,.9])
query7.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2002/2002_Statistics_Sales_Volume_Location.csv")

In [17]:
query8=data.groupby(["IDCode","UBI"]).size().reset_index(name='counts')
query8.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2002/2002_Count_Business_IDCode.csv")

In [18]:
query9=data.groupby(["Primary NAICS Code","UBI"]).size().reset_index(name='counts')
query9.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2002/2002_Count_Business_Primary_NAICS_Code.csv")

In [21]:
query10=data.groupby(["Primary SIC Code","UBI"]).size().reset_index(name='counts')
query10.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2002/2002_Count_Business_Primary_SIC_Code.csv")

In [7]:
query_11 = data[["Sales Volume (9) - Location", "UBI"]].astype({"Sales Volume (9) - Location":float}).groupby(["UBI"]).describe(percentiles=[.1,.9])
query_11.columns = ["COUNT","MEAN","STD","MIN","10%","50%","90%","MAX"]
query_11.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2002/2002_Statistics_Sales_Volume_Location_Per_UBI.csv")

In [22]:
query12=data.groupby(["Parent Number","UBI"]).size().reset_index(name='counts')
query12.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2002/2002_Count_Business_Parent_Number.csv")