In [1]:
import numpy as np
import pandas as pd
import pandasql as ps

In [2]:
data_raw = pd.read_csv("/n/holyscratch01/cga/jchorapalli/input_data/infogroup/2012_Business_Academic_QCQ.txt.utf8.csv", dtype={'FIPS Code':'str','Census Tract':'str','Census Block':'str'}, error_bad_lines= False, low_memory= False)

b'Skipping line 2226245: expected 53 fields, saw 105\nSkipping line 6430153: expected 53 fields, saw 105\nSkipping line 12722555: expected 53 fields, saw 105\nSkipping line 13079740: expected 53 fields, saw 105\nSkipping line 13458595: expected 53 fields, saw 105\n'

In [3]:
data_raw.shape

(14715358, 53)

In [4]:
data=data_raw.dropna(subset=["FIPS Code","Census Tract", "Census Block"])

In [5]:
data=data.reset_index(drop = True)

In [6]:
data["UBI"] =data["FIPS Code"] + data["Census Tract"]+ data["Census Block"]

In [7]:
data.shape

(14619285, 54)

In [8]:
data.columns

Index(['Company', 'Address Line 1', 'City', 'State', 'ZipCode', 'Zip4',
       'County Code', 'Area Code', 'IDCode', 'Location Employee Size Code',
       'Location Sales Volume Code', 'Primary SIC Code', 'SIC6_Descriptions',
       'Primary NAICS Code', 'NAICS8 Descriptions', 'SIC Code',
       'SIC6_Descriptions (SIC)', 'SIC Code 1', 'SIC6_Descriptions (SIC1)',
       'SIC Code 2', 'SIC6_Descriptions(SIC2)', 'SIC Code 3',
       'SIC6_Descriptions(SIC3)', 'SIC Code 4', 'SIC6_Descriptions(SIC4)',
       'Archive Version Year', 'Yellow Page Code',
       'Employee Size (5) - Location', 'Sales Volume (9) - Location',
       'Business Status Code', 'Industry Specific First Byte',
       'Year Established', 'Office Size Code', 'Company Holding Status', 'ABI',
       'Subsidiary Number', 'Parent Number', 'Parent Actual Employee Size',
       'Parent Actual Sales Volume', 'Parent Employee Size Code',
       'Parent Sales Volume Code', 'Site Number', 'Address Type Indicator',
       'Population Code', 'Census Tract', 'Census Block', 'Latitude',
       'Longitude', 'Match Code', 'CBSA Code', 'CBSA Level', 'CSA Code',
       'FIPS Code', 'UBI'],
      dtype='object')

In [9]:
data[["FIPS Code","Census Tract", "Census Block","UBI"]].head

<bound method NDFrame.head of          FIPS Code Census Tract Census Block           UBI
0            25013       813207            4  250138132074
1            25013       813203            3  250138132033
2            25013       813203            3  250138132033
3            25013       813203            1  250138132031
4            25013       813207            5  250138132075
...            ...          ...          ...           ...
14619280     02130       000100            1  021300001001
14619281     02130       000100            1  021300001001
14619282     02130       000100            1  021300001001
14619283     02130       000100            1  021300001001
14619284     02130       000100            1  021300001001

[14619285 rows x 4 columns]>

In [10]:
query2=data.groupby(['Location Sales Volume Code', 'UBI']).size().reset_index(name='counts')
query2.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2012/2012_Count_Business_Location_Sales_Volume_Code.csv")

In [11]:
query3=data.groupby(["Location Employee Size Code","UBI"]).size().reset_index(name='counts')
query3.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2012/2012_Count_Business_Location_Employee_Size_Code.csv")

In [12]:
query4=data.groupby(["Business Status Code","UBI"]).size().reset_index(name='counts')
query4.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2012/2012_Count_Business_Business_Status_Code.csv")

In [17]:
data_6_check=data[data["Employee Size (5) - Location"].str.contains('[ "A-Za-z]', na=False)]
data_6_check["Employee Size (5) - Location"]

5880393    70"
Name: Employee Size (5) - Location, dtype: object

In [18]:
data_6= data[["Employee Size (5) - Location"]].replace({'70"':'70'}).astype(float)
query6= data_6.describe(percentiles=[.1,.9])
query6.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2012/2012_Statistics_Employee_Size_Location.csv")

In [21]:
data_7_check=data[data["Sales Volume (9) - Location"].str.contains('[ "A-Za-z]', na=False)]
data_7_check["Sales Volume (9) - Location"].index

Int64Index([238728, 5970621, 11975506, 12287605], dtype='int64')

In [20]:
data_c = data[data["UBI"].str.contains('[ "A-Za-z]',na=False)]
data_c["UBI"].index

Int64Index([ 3146759,  4683474,  4959015,  5331528,  6337021,  6483556,
             6491080,  7203296,  7319186,  7743798,  9458348,  9459155,
            14130361],
           dtype='int64')

In [8]:
data_7=data.drop([3146759,  4683474,  4959015,  5331528,  6337021,  6483556,
             6491080,  7203296,  7319186,  7743798,  9458348,  9459155,
            14130361, 238728, 5970621, 11975506, 12287605 ])
query_7=data_7["Sales Volume (9) - Location"].str.replace(" ","").astype(float)
query_7= query_7.describe(percentiles=[.1,.9])
query_7.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2012/2012_Statistics_Sales_Volume_Location.csv")

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

In [13]:
query8=data.groupby(["IDCode","UBI"]).size().reset_index(name='counts')
query8.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2012/2012_Count_Business_IDCode.csv")

In [14]:
query9=data.groupby(["Primary NAICS Code","UBI"]).size().reset_index(name='counts')
query9.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2012/2012_Count_Business_Primary_NAICS_Code.csv")

In [15]:
query10=data.groupby(["Primary SIC Code","UBI"]).size().reset_index(name='counts')
query10.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2012/2012_Count_Business_Primary_SIC_Code.csv")

In [7]:
data_11=data.drop([3146759,  4683474,  4959015,  5331528,  6337021,  6483556,
             6491080,  7203296,  7319186,  7743798,  9458348,  9459155,
            14130361, 238728, 5970621, 11975506, 12287605 ])
query_11 = data_11[["Sales Volume (9) - Location", "UBI"]].astype({"Sales Volume (9) - Location":float})
query_11= query_11.groupby(["UBI"]).describe(percentiles=[.1,.9])
query_11.columns = ["COUNT","MEAN","STD","MIN","10%","50%","90%","MAX"]
query_11.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2012/2012_Statistics_Sales_Volume_Location_Per_UBI.csv")

In [16]:
query12=data.groupby(["Parent Number","UBI"]).size().reset_index(name='counts')
query12.to_csv("/n/holyscratch01/cga/jchorapalli/infogroup_results/2012/2012_Count_Business_Parent_Number.csv")